<h1 class="spaced"><%= @grid %></h1>

<form class="form-horizontal" action="/score">
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" class="form-control" name="your_try" placeholder="Your try">
      <input type="hidden" name="grid" value=<%= @grid %>>
      <input type="hidden" name="start_time" value=<%= @start_time %>>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Try</button>
    </div>
  </div>
</form>
